/*
Main Styles for Portfolio Site
1/15/2014
*/

body {
    background-color: #B0C9F4;
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 960px;
    margin: auto;
}

div #banner {
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    color: #FFFFFF;
    background-color: #FF8C5A;
    padding: 30px;
}

div#nav {
    position: fixed;
    bottom: 5%;
    left: 42%;
    width: 40%;
}

div.nav-flag {
    background-color: #FFFFFF;
    height: 1.2em;
    margin-bottom: 14px;
}

span.nav-text {
    color: #FFFFFF;
    background-color: #B0C9F4;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 85%;
    padding-right: 10px;
}

a.nav-link {
    text-decoration: none;
}

img.header {
    width: 100%;
    margin-top: 30px;
}