/*
Main Styles for Portfolio Site
1/15/2014
*/

html {
    height: 100%;
}

body {
    background-color: #B0C9F4;
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-weight: 300;
    margin: 0px;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-weight: 300;
}

h1 {
    margin-bottom: 0px;
}

a {
    color: #FF8C5A;
    text-decoration: none;
}

a:hover {
    color: #FFC197;
}

strong {
    font-weight: 400;
}

.wrapper {
    position: relative;
    width: 900px;
    margin: auto;
    height: 100%;
}

.resized {
    width: 95%;
}

div#about {
    color: #FFFFFF;
}

div#banner {
    position: relative;
    /*left: -7px;*/
    float: left;
    width: 333px;
    height: 100%;
    color: #FFFFFF;
    background-color: #FF8C5A;
    padding: 30px 30px 30px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.about-resized {
    height: auto !important;
}

.banner-resized {
    float: none !important;
    width: 100% !important;
    height: auto !important;
}

div#top-banner {
    position: relative;
    float: left;
    top: 0;
    width: 273px;
    height: 120px;
    background-color: #FF8C5A;
    padding: 30px 30px 0 30px;
}

.topbanner-resized {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none !important;
    width: 100% !important;
    height: 150px !important;
}

div#nav {
    position: relative;
    /*left: -7.5px;*/
    margin-left: 355.7px;
/*    left: 43%;
    width: 39.95%;*/
}

.offset {
    left: -8px;
}

div#top-nav {
    position: relative;
    margin-left: 355.7px;
    top: 13.5px;
}

.topnav-resized, .nav-resized {
    margin-left: 0 !important;
}

div.nav-flag {
    background-color: #FFFFFF;
    height: 1.2em;
    margin-bottom: 14px;
    cursor: pointer;
}

div.nav-flag:hover, a.icon:hover, #dev-tile:hover, #design-tile:hover {
    opacity: 0.6;
    filter:alpha(opacity=60);
    transition: opacity 0.2s linear;   
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
}

#dev-tile:hover, #design-tile:hover {
    cursor: pointer;
    transition: opacity 0.4s linear;   
    -webkit-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    -ms-transition: opacity 0.4s linear;    
}

span.nav-text {
    color: #FFFFFF;
    background-color: #B0C9F4;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 85%;
    padding-right: 10px;
}

div.content {
    display: inline-block;
    margin-top: 11px;
}

div.module {
    color: #15294b;
    background-color: #FFFFFF;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#dev-tile, #design-tile {
    display: inline-block;
    padding: 0px;
}

#design-tile {
    float: right;
}

#res {
    padding: 0;
}

div#contact {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-bottom: 12px;
}

img.header {
    width: 100%;
    margin-top: 30px;
}

.header-resized {
    width: 273px !important;
}

img.screenshot {
    width: 100%;
}

p.subheading {
    font-size: 1.3em;
    margin-top: 0px;
}

a.icon {
    margin-left: 5px;
}

.active {
    opacity: 0.6;
    filter:alpha(opacity=60);
}

.active:hover {
    cursor: default;
}

.hidden {
    display: none;
}